# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
Bitlletera::Application.config.secret_token = '85f4d7a300f9c81ad0e975d774af795a780f847fbe8cd52c56ecdc5ea5c4c6c821ccb04f689b8f82de480b73fbf362060a7608263fa1e3b27b7626fa8fe87a35'
